
<footer class="bg-gray-900 mt-24 text-gray-100">
    <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a href="https://flowbite.com/" class="flex items-center">
                  <img src="./assets/images/brainwave-logo.png" class="h-12 mr-3" alt="FlowBite Logo" />
                  <span class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white">WaveBrain</span>
              </a>
              <div class="flex items-center flex-row justify-between">
              <img src="./assets/images/mercado-pago-.png" class="h-10 " alt="FlowBite Logo" />
              <img src="./assets/images/mastercard.png" class="h-10 " alt="FlowBite Logo" />
              <img src="./assets/images/visa.png" class="h-10 " alt="FlowBite Logo" />
              <img src="./assets/images/logo-pse.png" class="h-10 " alt="FlowBite Logo" />
            </div>
            </div>
              <div class="mr-6">
                <p class="text-2xl">Importante si deseas pagar con :</p>
                <div class="flex my-3 ">
                    <div class="flex pr-4 border-r-2 border-gray-200 justify-center items-center">
                        <img src="./assets/images/nequi.png" alt="logo nequi png"  class="h-12">
                    </div>
                    <img src="./assets/images/daviplata.png" alt="logo de daviplata png"  class="h-20 ml-3">
                    <p class="w-44 text-gray-400 ml-4">Debes Contactarnos para confirmar pago <a href="contacto" class="text-cyan-400 underline">AQUI</a></p>
                </div>
              </div>
      </div>
      <hr class="my-6 border-gray-400 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-center">
          <span class="text-sm  sm:text-center text-gray-400">© 2023 <a href="https://wavebrain.co/" class="hover:underline">WaveBrain ™</a>. All Rights Reserved.
          </span>
      </div>
    </div>
</footer>

