<app-whatsapp-button></app-whatsapp-button>
<app-nav-bar></app-nav-bar>
<div class="header">
    <div>
        <h1>
            Automatiza tu <span class="text-green-400">negocio </span> con el poder de la <span class="text-red-600"> inteligencia artificial</span>
        </h1>
        <img src="./assets/images/aiChip.webp" alt="Inteligencia artificial svg png">
    </div>
    <button type="button" class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Comenzar</button>
</div>

<div class="p-10 my-8">
    <h2 class="text-5xl text-center text-cyan-200">Descubre cómo la inteligencia artificial puede impulsar tu empresa hacia el futuro</h2>
    <h3 class="text-3xl text-gray-400 mb-5 mt-10">Beneficios de la inteligencia artificial en tu negocio</h3>
    <ul class="p-4">
        <li class="flex flex-initial mt-4">
            <fa-icon class="text-gray-300" [icon] = "faGreater"></fa-icon>
            <p class="text-white ml-3 text-xl">Automatización de tareas para ahorrar tiempo y recursos</p>
        </li >
        <li class="flex flex-initial mt-4">
            <fa-icon class="text-gray-300" [icon] = "faGreater"></fa-icon>
            <p class="text-white ml-3 text-xl">Análisis de datos en tiempo real para una toma de decisiones estratégicas</p>
        </li>
        <li class="flex flex-initial mt-4">
            <fa-icon class="text-gray-300" [icon] = "faGreater"></fa-icon>
            <p class="text-white ml-3 text-xl">Aumento de la eficiencia y reducción de errores en las operaciones diarias</p>
        </li>
    </ul>
</div>
<div class="text-center p-16">
    <h2 class="text-5xl text-lime-400">¿Quiénes somos?</h2>
    <h3 class="text-gray-400 text-3xl my-8">Impulsando el futuro con inteligencia artificial</h3>
    <p class="text-gray-200 text-xl my-8 mx-6 text-font-poppins">En WaveBrain, somos una empresa emergente dedicada a la implementación de soluciones de inteligencia artificial para negocios, empresas y persona. Nuestro objetivo es automatizar procesos, optimizar el rendimiento y maximizar la eficiencia en tu negocio. Con nuestro equipo de expertos en IA y nuestra experiencia en diversos sectores, estamos aquí para guiarte en tu transformación digital y ayudarte a aprovechar al máximo el potencial de la inteligencia artificial en tu negocio. Estamos entusiasmados por formar parte de tu viaje hacia la implementación exitosa de la inteligencia artificial en tu negocio y esperamos ayudarte a descubrir todo el potencial que esta tecnología puede ofrecer. ¡Estamos aquí para ayudarte!</p>
</div>
<div class="text-center px-20 py-6">
    <h4 class="text-cyan-400 text-2xl">Descubre cómo la inteligencia artificial puede impulsar tu negocio hacia el futuro. Únete a la revolución de la automatización y maximiza tu potencial</h4>
    <button type="button" class="text-gray-900 text-sm bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-teal-700 font-bold rounded-lg  px-5 py-2.5 text-center mt-8 mr-2 mb-2">Solicitar Consulta</button>
</div>

<app-footer></app-footer>
